.frg-pass-hol .sub-frg-pass-hol{
    display: flex;
    align-items: center;
    background: #F7F6F2;
    height: 100vh;
    padding: 4em 0;
}
.frg-pass-hol .sub-frg-pass-hol .in-frg-pass-hol{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    height: fit-content;
    padding: 3em 1.5em;
    width: 100%;
}
.frg-pass-hol .sub-frg-pass-hol .in-frg-pass-hol .in-sub-frg-pass-hol{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    height: fit-content;
    padding: 1em;
    width: fit-content;
}
.frg-pass-hol .sub-frg-pass-hol .in-frg-pass-hol .in-sub-frg-pass-hol .frg-pass-hol-logo{
    width: 30%;
}
.frg-pass-hol .sub-frg-pass-hol .in-frg-pass-hol .in-sub-frg-pass-hol .frg-pass-hol-text{
    text-align: center;
    width: 650px;
    line-height: 2;
}
.frg-pass-hol .sub-frg-pass-hol .in-frg-pass-hol .in-sub-frg-pass-hol .frg-pass-hol-text h2{
    margin: 0;
    font-size: 27px;
    font-weight: 600;
    color: #241F20;
}
.frg-pass-hol .sub-frg-pass-hol .in-frg-pass-hol .in-sub-frg-pass-hol .frg-pass-hol-text p{
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: #7F7D7D;
    letter-spacing: 1px;
}
.frg-pass-hol .sub-frg-pass-hol .in-frg-pass-hol .in-sub-frg-pass-hol .frg-pass-hol-form-hol a{
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
}
.frg-pass-hol .sub-frg-pass-hol .in-frg-pass-hol .in-sub-frg-pass-hol .frg-pass-hol-form-hol form .form-control::placeholder{
    color: #7F7D7D !important;
    font-size: 15px;
}
.frg-pass-hol .sub-frg-pass-hol .in-frg-pass-hol .in-sub-frg-pass-hol .frg-pass-hol-form-hol form .frg-pass-hol-form-hol-btn button{
    padding: 0.5em;
    border-radius: 8px;
    background: #000000;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    font-size: 19px;
    letter-spacing: 1px;
}
@media only screen and (max-width: 700px) {
    .frg-pass-hol .sub-frg-pass-hol .in-frg-pass-hol .in-sub-frg-pass-hol{
        padding: 2em;
    }
    .frg-pass-hol .sub-frg-pass-hol .in-frg-pass-hol .in-sub-frg-pass-hol .frg-pass-hol-text{
        width: 340px;
    }
    .frg-pass-hol .sub-frg-pass-hol .in-frg-pass-hol .in-sub-frg-pass-hol .frg-pass-hol-text h2{
        font-size: 19px;
    }
    .frg-pass-hol .sub-frg-pass-hol .in-frg-pass-hol .in-sub-frg-pass-hol .frg-pass-hol-text p{
        font-size: 13px;
    }
    .frg-pass-hol .sub-frg-pass-hol .in-frg-pass-hol .in-sub-frg-pass-hol .frg-pass-hol-form-hol a{
        font-size: 16px;
    }
    .frg-pass-hol .sub-frg-pass-hol .in-frg-pass-hol .in-sub-frg-pass-hol .frg-pass-hol-form-hol form .frg-pass-hol-form-hol-btn button{
        font-size: 15px;
    }
}
@media only screen and (max-width: 375px) {
    .frg-pass-hol .sub-frg-pass-hol .in-frg-pass-hol .in-sub-frg-pass-hol .frg-pass-hol-text{
        width: 330px;
    }
}
@media only screen and (max-width: 320px) {
    .frg-pass-hol .sub-frg-pass-hol .in-frg-pass-hol .in-sub-frg-pass-hol .frg-pass-hol-text{
        width: 270px;
    }
    .frg-pass-hol .sub-frg-pass-hol .in-frg-pass-hol .in-sub-frg-pass-hol .frg-pass-hol-text p{
        font-size: 12px;
    }
}