.Login div .inner-app{
    display: flex;
    align-items: center;
    background: var(--innerbg);
    height: 100vh;
}
.Login div .inner-app .sub-app{
    background: var(--white); 
    display: flex;
    justify-content: space-between; 
    padding: 2.6em 1em;
    width: 100%;
}
.Login div .inner-app .sub-app .Logo-media-holder{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    gap: 4em;
}
.Login div .inner-app .sub-app .Logo-media-holder .media-han{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
}
.Login div .inner-app .sub-app .Logo-media-holder .media-han .icon{
    text-decoration: none;
    font-size: 20px;
    color: var(--text);
}
.Login div .inner-app .sub-app .media-han{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 130px;
}
.Login div .inner-app .sub-app .media-han .icon{
    text-decoration: none;
    font-size: 20px;
    color: var(--text);
}
.Login div .inner-app .sub-app .Logo-media-holder .logo .inner-logo{
    width: 100%;
}
.Login div .inner-app .sub-app .form-holder{
    width: 700px;
}
.Login div .inner-app .sub-app .form-holder .head{
    display: none;
}
.Login div .inner-app .sub-app .form-holder form{
    padding: 24px 16px;
}
.Login div .inner-app .sub-app .form-holder form .user-input-holder{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    width: 100%;
}
.Login div .inner-app .sub-app .form-holder form .user-input-holder .email{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.Login div .inner-app .sub-app .form-holder form .user-input-holder .email label{
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 600;
    color: var(--lightText);
}
.Login div .inner-app .sub-app .form-holder form .user-input-holder .email input[type=email]{
    background: none;
    width: 100%;
    border: none; 
    border-bottom: 1px solid black;
    outline: none;
    padding: 8px;
}
.Login div .inner-app .sub-app .form-holder form .user-input-holder .email input[type=email]::placeholder{
    text-transform: capitalize;
    font-size: 14px;
}
.Login div .inner-app .sub-app .form-holder form .user-input-holder .pass{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 86px;
}
.Login div .inner-app .sub-app .form-holder form .user-input-holder .pass label{
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 600;
    color: var(--lightText);
}
.Login div .inner-app .sub-app .form-holder form .user-input-holder .pass input[type=password]{
    background: none;
    width: 100%;
    border: none; 
    border-bottom: 1px solid black;
    outline: none;
    padding: 8px;
}
.Login div .inner-app .sub-app .form-holder form .user-input-holder .pass input[type=password]::placeholder{
    text-transform: capitalize;
    font-size: 15px;
}
.Login div .inner-app .sub-app .form-holder form .user-input-holder .pass input[type=text]{
    background: none;
    width: 100%;
    border: none; 
    border-bottom: 1px solid black;
    outline: none;
    padding: 8px;
}
.Login div .inner-app .sub-app .form-holder form .user-input-holder .pass input[type=text]::placeholder{
    text-transform: capitalize;
    font-size: 15px;
}
.Login div .inner-app .sub-app .form-holder form .user-input-holder .pass .togglebtn{
    position: relative;
    top: -2em;
    left: 40em;
}
.Login div .inner-app .sub-app .form-holder form .user-input-holder .pass .togglebtn button{
    border: none;
    background: transparent;
    color: var(--lightText);
    font-size: 20px;
}
.Login div .inner-app .sub-app .form-holder form .text-hol{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 14px;
    width: 100%;
    margin-top: 4px;
}
.Login div .inner-app .sub-app .form-holder form .text-hol .frg-txt{
    margin-top: 12px;
}
.Login div .inner-app .sub-app .form-holder form .text-hol .frg-txt a{
    font-size: 19px;
    text-decoration: none;
    color: var(--lightBlue);
}
.Login div .inner-app .sub-app .form-holder form .text-hol .sign-text{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;
    width: 100%;
    margin-top: 4px;
    font-size: 18px;
    color: var(--lightAsh);
    letter-spacing: 2px;
}
.Login div .inner-app .sub-app .form-holder form .text-hol .sign-text p{
    margin: 0px;
}
.Login div .inner-app .sub-app .form-holder form .text-hol .sign-text a{
    text-decoration: none;
    color: var(--lightAsh);
    font-weight: 800;
}
.Login div .inner-app .sub-app .form-holder form .button button{
    width: 100%;
    margin-top: 25px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 20px;
    padding: 14px 0;
    background: var(--black);
    color: var(--white);
}

@media only screen and (max-width: 1024px) {
    .Login div .inner-app .sub-app .form-holder form .user-input-holder .pass .togglebtn{
        left: 30em;
    }
}
@media only screen and (max-width: 768px) {
    .Login div .inner-app .sub-app{
        flex-direction: column;
        align-items: center;
        padding: 1em;
    }
    .Login div .inner-app .sub-app .Logo-media-holder{
        width: 100%;
    }
    .Login div .inner-app .sub-app .Logo-media-holder .logo .inner-logo {
        width: 73%;
    }
    .Login div .inner-app .sub-app .form-holder{
        width: 100%;
    }
    .Login div .inner-app .sub-app .form-holder .head{
        display: none;
    }
    .Login div .inner-app .sub-app .form-holder form .text-hol .sign-text{
        font-size: 16px;
    }
    .Login div .inner-app .sub-app .form-holder form .text-hol .frg-txt a{
        font-size: 17px;
    }
    .Login div .inner-app .sub-app .form-holder form .user-input-holder .pass .togglebtn{
        left: 42em;
    }
    .Login div .inner-app .sub-app .form-holder form .user-input-holder .pass .togglebtn button {
        font-size: 22px;
    }
    .Login div .inner-app .sub-app .form-holder form .button button{
        font-size: 23px;
    }
}
@media only screen and (max-width: 700px) {
    .Login div .inner-app .sub-app .Logo-media-holder .logo .inner-logo {
        width: 26%;
    }
    .Login div .inner-app .sub-app .media-han{
        width: 100px;
    }
    .Login div .inner-app .sub-app .media-han .icon{
        font-size: 14px;
    }
    .Login div .inner-app .sub-app .Logo-media-holder{
        width: 100%;
    }
    .Login div .inner-app .sub-app .form-holder{
        width: 100%;
    }
    .Login div .inner-app .sub-app .form-holder form {
        padding: 14px 12px;
    }
    .Login div .inner-app .sub-app .form-holder .heading{
        margin: 15px 0;
    }
    .Login div .inner-app .sub-app .form-holder .heading .head{
        display: block;
    }
    .Login div .inner-app .sub-app .form-holder .heading .head h2{
        font-size: 17px;
        font-weight: 600;
        color: var(--black);
    }
    .Login div .inner-app .sub-app .form-holder form .user-input-holder {
        gap: 24px;
    }
    .Login div .inner-app .sub-app .form-holder form .user-input-holder .email label {
        font-size: 14px;
    }
    .Login div .inner-app .sub-app .form-holder form .user-input-holder .pass label {
        font-size: 14px;
    }
    .Login div .inner-app .sub-app .form-holder form .user-input-holder .pass .togglebtn button {
        font-size: 17px;
    }
    .Login div .inner-app .sub-app .form-holder form .text-hol .frg-txt {
        margin-top: 0px;
    }
    .Login div .inner-app .sub-app .form-holder form .text-hol .frg-txt a {
        font-size: 15px;
    }
    .Login div .inner-app .sub-app .form-holder form .text-hol {
        gap: 6px;
    }
    .Login div .inner-app .sub-app .form-holder form .button button {
        font-size: 17px;
        padding: 9px 0;
    }
}
@media only screen and (max-width: 425px) {
    .Login div .inner-app .sub-app .form-holder form .user-input-holder .pass .togglebtn{
        left: 21em;
    }
}
@media only screen and (max-width: 375px) {
    .Login div .inner-app .sub-app .form-holder form .user-input-holder .pass .togglebtn{
        left: 18em;
    }
    .Login div .inner-app .sub-app .form-holder form .text-hol .sign-text {
        font-size: 14px;
    }
}
@media only screen and (max-width: 375px) {
    .Login div .inner-app .sub-app .form-holder form .user-input-holder .pass .togglebtn{
        left: 18em;
    }
    .Login div .inner-app .sub-app .form-holder form .text-hol .sign-text {
        font-size: 14px;
    }
}
@media only screen and (max-width: 320px) {
    .Login div .inner-app .sub-app .form-holder form .user-input-holder .pass .togglebtn{
        left: 15em;
    }
    .Login div .inner-app .sub-app .form-holder form .text-hol .frg-txt a {
        font-size: 15px;
    }
    .Login div .inner-app .sub-app .form-holder form .text-hol .sign-text {
        font-size: 13px;
        letter-spacing: 1px;
    }
}
