.rst-pas-hol .in-rst-pas-hol{
    background: #F7F6F2;
    height: 98vh;
}
.rst-pas-hol .in-rst-pas-hol .sub-rst-pas-hol{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    width: 100%;
}
.rst-pas-hol .in-rst-pas-hol .sub-rst-pas-hol .sub-rst-pas-cmp-hol{
    width: 40%;
}
.rst-pas-hol .in-rst-pas-hol .sub-rst-pas-hol .sub-rst-pas-cmp-hol .in-sub-rst-pas-cmp-hol{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 1em;
    width: 100%;
    border: 1px solid #000;
}
.rst-pas-hol .in-rst-pas-hol .sub-rst-pas-hol .sub-rst-pas-cmp-hol .in-sub-rst-pas-cmp-hol .logo{
    width: 30%;
}
.rst-pas-hol .in-rst-pas-hol .sub-rst-pas-hol .sub-rst-pas-cmp-hol .in-sub-rst-pas-cmp-hol .form-holder{
    width: 100%;
}
.rst-pas-hol .in-rst-pas-hol .sub-rst-pas-hol .sub-rst-pas-cmp-hol .in-sub-rst-pas-cmp-hol .form-holder h4{
    font-size: 20px;
    font-weight: 600;
    color: #241F20;
    margin-bottom: 10px;
}
.rst-pas-hol .in-rst-pas-hol .sub-rst-pas-hol .sub-rst-pas-cmp-hol .in-sub-rst-pas-cmp-hol .form-holder .sub-form-holder form .form-inp-1{
    display: flex;
    align-items:last baseline;
    flex-direction: column;
    gap: 9px;
    height: 75px;
}
.rst-pas-hol .in-rst-pas-hol .sub-rst-pas-hol .sub-rst-pas-cmp-hol .in-sub-rst-pas-cmp-hol .form-holder .sub-form-holder form .form-inp-1 label{
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #7F7D7D;
}
.rst-pas-hol .in-rst-pas-hol .sub-rst-pas-hol .sub-rst-pas-cmp-hol .in-sub-rst-pas-cmp-hol .form-holder .sub-form-holder form .form-inp-1 input::placeholder{
    color: #7F7D7D;
    font-size: 14px;
}
.rst-pas-hol .in-rst-pas-hol .sub-rst-pas-hol .sub-rst-pas-cmp-hol .in-sub-rst-pas-cmp-hol .form-holder .sub-form-holder form .form-inp-1 .togglebtn{
    position: relative;
    bottom: 42px;
    left: 30em;
    border: none;
    background: transparent;
    color: #7F7D7D;
}
.rst-pas-hol .in-rst-pas-hol .sub-rst-pas-hol .sub-rst-pas-cmp-hol .in-sub-rst-pas-cmp-hol .form-holder .sub-form-holder form .form-inp-2{
    display: flex;
    align-items:last baseline;
    flex-direction: column;
    gap: 9px;
}
.rst-pas-hol .in-rst-pas-hol .sub-rst-pas-hol .sub-rst-pas-cmp-hol .in-sub-rst-pas-cmp-hol .form-holder .sub-form-holder form .form-inp-2 label{
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #7F7D7D;
}
.rst-pas-hol .in-rst-pas-hol .sub-rst-pas-hol .sub-rst-pas-cmp-hol .in-sub-rst-pas-cmp-hol .form-holder .sub-form-holder form .form-inp-2 input::placeholder{
    color: #7F7D7D;
    font-size: 14px;
}
.rst-pas-hol .in-rst-pas-hol .sub-rst-pas-hol .sub-rst-pas-cmp-hol .in-sub-rst-pas-cmp-hol .form-holder .sub-form-holder form .form-button{
   margin-top: 10px;
}
.rst-pas-hol .in-rst-pas-hol .sub-rst-pas-hol .sub-rst-pas-cmp-hol .in-sub-rst-pas-cmp-hol .form-holder .sub-form-holder form .form-button button{
    border: none;
    font-size: 18px;
}

@media only screen and (max-width: 768px) {
    .rst-pas-hol .in-rst-pas-hol .sub-rst-pas-hol .sub-rst-pas-cmp-hol{
        width: 60%;
    }
    .rst-pas-hol .in-rst-pas-hol .sub-rst-pas-hol .sub-rst-pas-cmp-hol .in-sub-rst-pas-cmp-hol .form-holder h4{
        margin-bottom: 13px;
    }
    .rst-pas-hol .in-rst-pas-hol .sub-rst-pas-hol .sub-rst-pas-cmp-hol .in-sub-rst-pas-cmp-hol .form-holder .sub-form-holder form .form-inp-1 .togglebtn{
        left: 25em;
    }
}
@media only screen and (max-width: 600px) {
    .rst-pas-hol .in-rst-pas-hol .sub-rst-pas-hol .sub-rst-pas-cmp-hol{
        width: 100%;
    }
    .rst-pas-hol .in-rst-pas-hol .sub-rst-pas-hol .sub-rst-pas-cmp-hol .in-sub-rst-pas-cmp-hol .form-holder h4{
        font-size: 17px;
        margin-bottom: 10px;
    }
    .rst-pas-hol .in-rst-pas-hol .sub-rst-pas-hol .sub-rst-pas-cmp-hol .in-sub-rst-pas-cmp-hol .form-holder .sub-form-holder form .form-inp-1 label{
        font-size: 15px;
    }
    .rst-pas-hol .in-rst-pas-hol .sub-rst-pas-hol .sub-rst-pas-cmp-hol .in-sub-rst-pas-cmp-hol .form-holder .sub-form-holder form .form-inp-2 label{
        font-size: 15px;
    }
    .rst-pas-hol .in-rst-pas-hol .sub-rst-pas-hol .sub-rst-pas-cmp-hol .in-sub-rst-pas-cmp-hol .form-holder .sub-form-holder form .form-inp-1 .togglebtn{
        left: 23em;
    }
}
@media only screen and (max-width: 375px) {
    .rst-pas-hol .in-rst-pas-hol .sub-rst-pas-hol .sub-rst-pas-cmp-hol .in-sub-rst-pas-cmp-hol{
        gap: 7px;
    }
    .rst-pas-hol .in-rst-pas-hol .sub-rst-pas-hol .sub-rst-pas-cmp-hol .in-sub-rst-pas-cmp-hol .form-holder h4{
        margin-bottom: 8px;
    }
    .rst-pas-hol .in-rst-pas-hol .sub-rst-pas-hol .sub-rst-pas-cmp-hol .in-sub-rst-pas-cmp-hol .form-holder .sub-form-holder form{
        gap: 5px !important;
    }
    .rst-pas-hol .in-rst-pas-hol .sub-rst-pas-hol .sub-rst-pas-cmp-hol .in-sub-rst-pas-cmp-hol .form-holder .sub-form-holder form .form-inp-1 label{
        font-size: 14px;
    }
    .rst-pas-hol .in-rst-pas-hol .sub-rst-pas-hol .sub-rst-pas-cmp-hol .in-sub-rst-pas-cmp-hol .form-holder .sub-form-holder form .form-inp-2 label{
        font-size: 14px;
    }
    .rst-pas-hol .in-rst-pas-hol .sub-rst-pas-hol .sub-rst-pas-cmp-hol .in-sub-rst-pas-cmp-hol .form-holder .sub-form-holder form .form-inp-1 .togglebtn{
        left: 20em;
    }
    .rst-pas-hol .in-rst-pas-hol .sub-rst-pas-hol .sub-rst-pas-cmp-hol .in-sub-rst-pas-cmp-hol .form-holder .sub-form-holder form .form-button{
        margin-top: 7px;
    }
}
@media only screen and (max-width: 320px) {
    .rst-pas-hol .in-rst-pas-hol .sub-rst-pas-hol .sub-rst-pas-cmp-hol .in-sub-rst-pas-cmp-hol .form-holder .sub-form-holder form .form-inp-1 .togglebtn{
        left: 16em;
    }
}